.arduino15/
snapp/
.vscode-server/
.vscode
.bash_history
.bashrc
.Xauthority
.cache/
Arduino/
.config/
.dotnet/
.gnome/
.gnupg/
.java/
.local/
.mozilla/
.oracle_jre_usage/
.ssh/
.vnc/
arduino-nightly/    
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
snap/
Templates/
Videos/
.bash_logout
.kiauh.ini
.xscreensaver
.profile
.wget-hsts
.xsession-errors
.sudo_as_admin_successful
.python_history
.lesshst
logfile.log
.gitignore
.gitignore
02-20220220002423.mkv
.gitignore
*.mkv
*.mp4
.octoprint/timelapse/
.octoprint/backup/
printer-**.cfg
printer.cfg.bkp
