{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 53.0583182,
    "longitude": 8.9647729,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Início",
    "time_zone": "Europe/Berlin",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "DE",
    "language": "pt-BR",
    "radius": 100
  }
}